<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
  
  *{
      box-sizing: border-box;
  }
  body {
  position : relative;
  }


.image-bg{
    padding-top:50px;
    background-image: url("/image/street.jpg");
    height:500px;
    filter: blur(8px);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-size: cover;

}

.image-text{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: rgb(0,0,0);}

  .navbar-brand{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(198, 198, 198);
  }

  .navbar-inner{
      background: transparent;
      background:rgba(0,0,0,0.7);
  }

.fontsize{
    font-size: 15px;
}

.fontheadsize{
    font-size: 22px;
}

  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    
    {{!-- <div class="bg-text"> --}}
    <nav class="navbar navbar-inner navbar-fixed-top">
	    <div class="container-fluid">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
				    <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> 
		        <a href="/" class="navbar-brand fontheadsize">Home</a>
                <a href="/about" class="navbar-brand fontsize">About</a>
                <a href="/help" class="navbar-brand fontsize">Help</a>
			</div>
		</div>
	</nav>
    {{!-- </div> --}}
	<div id="section1">
        <div class="container-fluid image-bg"></div>
        <div class="image-text">
	    <h1>Section 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        </div>
</div>
<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>

</body>
</html>